body {
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:16px;
  margin-left:1em;
  margin-right:1em;
}
.sourcePane tr textarea {
   max-width:80vw;
   min-width:80vw !important;
   height:10em;
}
.queryButton {
 width:100%;
 margin:0.5em;
 margin-left:1em;
 height:2em;
 text-align:center;
}
#queryAllButton {
  margin-top:-3em;
}
#dataBrowser {
  margin-top:2em;
}
.kitchenForm {
  display:none;
}
#kitchenMenu *,#kitchenMenu button {
  font-size:small;
  color:#444;
}

/* hide all pageTypes except when the body.class is that pageType
*/
#webBrowser,#dataBrowser,#fileManager,#queryForm,#sessionForm,#localBrowser {
  display:none;
}
body.dataBrowser #dataBrowser { display:block !important; }
body.fileManager #fileManager { display:block !important; }
body.webBrowser #webBrowser { display:block !important; }
body.queryForm #queryForm { display:block !important; }
body.sessionForm #sessionForm { display:block !important; }
body.localBrowser #localBrowser { display:block !important; }


body.webBrowser {
  overflow-y:"hidden";
  margin:0;
}
body.webBrowser #webBrowser {
  overflow-y:"hidden";
}

/* hide Change-login button, on local pages, web pages, session manger
*/
#kitchenMenu button { display:none; }
.dataBrowser #kitchenMenu button { display:inline-block; }
.fileManager #kitchenMenu button { display:inline-block; }
.queryForm #kitchenMenu button { display:inline-block; }

/* hide webId on local pages and web pages
*/
#kitchenMenu { display:block; }
.localBrowser #kitchenMenu { display:none; }
.webBrowser #kitchenMenu { display:none; }


#kitchenMenu {
  position:absolute;
  top:0;
  right:0;
}

#uriField {
  font-size:100%;
  min-width:30em; 
  padding:0.5em;
  width:95%;
}
iframe#webBrowser {
  display:none;
  height:100vh;
  width:100vw;
  border:none;
  margin:0;
  padding:0;
}
#outline {
  min-height:200px;
}
#versionsFooter {
  display:none;
  font-size:0.8em;
  font-weight:italic;
  text-align:right;
  margin:2em;
}
#localBrowser {
  margin-left:1em;
  margin-right:2em;
  max-width:780px;
  overflow:auto !important;
}
.kitchenTourP {
    border:1px solid orange;
    padding:0.5em;
    font-size:100%;
    margin-top:1.5em;
    margin-bottom:1.5em;
}
.kitchenTourP.hasImage {
    margin-bottom:0.25em;
}
#localBrowser h1, #localBrowser h2,
.kitchenForm h1, .kitchenForm h2 
{
  font-weight:400 !important;
}
#localBrowser i {
  font-weight:300 !important;
}
#localBrowser ul {
  padding-left:1em;  
  margin-left:1em;
  line-height:1.75em;  
}
.kitchenForm {
  margin-left:1em;
  margin-right:1em;
//  width : 700px;
}
.kitchenForm table {
  width:100%;
  margin-top:1em;
  margin-right:1em;
  padding:1em;
  padding-bottom:0;
}
.kitchenForm th {
  vertical-align:top;
  text-align:right;
  border-bottom:1em solid transparent;
  border-right:1em solid transparent;
}
.kitchenForm td {
  border-bottom:1em solid transparent;
}
.kitchenForm input[type=text] {
  width:100%;
  min-width: 25em;
  height:2.5em;
  font-size:1rem;
}
#queryRadio {
  margin-left:2em;
}
#queryForm.kitchenForm textarea {
  width:100%;
  min-width:66vw !important;
  height:5em;
}
.kitchenForm .buttonContainer {
  margin-top:1em;
  width:100%;
  text-align:right;
}
#queryForm.kitchenForm #queryResults table {
  margin:0 !important;
  padding:0 !important;
  border:1px solid black;  
  border-collapse:collapse;
  width:100%;
}
#queryForm.kitchenForm #queryResults td {
  width:auto !imporant;
}
#queryResults th,
#queryResults td
{
  border:1px solid black;  
  padding:0.25em;
}
#queryResults th {
  background-color:#c0c0c0;
  text-align:center;  
}
