#dataBrowser {
  margin-top:2em;
}
#dataBrowser table {
  margin-left:1em !important;
  margin-right:2em !important;
}
#dataBrowser table#outline {
  margin-left:-1em !important;
  margin-right:0 !important;
}
#dataBrowser div.dataContentPane td {
  padding-bottom:2em;
}
#dataBrowser div.dataContentPane table table tr td {
  padding-bottom:0;
}
html, body {
  margin: 0;
  padding: 0;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:16px;
}
.sourcePane tr textarea {
   max-width:80vw;
   min-width:80vw !important;
   height:10em;
}
/* Dokeli & HumanReadable iframe
.docView iframe {
   max-width:80vw;
   min-width:80vw !important;
   max-height:80vh;
   border:1px solid gray;
}
*/

#kitchenTabs,#kitchenTabContent {
  display:none;
}


/* hide all pageTypes except when the body.class is that pageType
*/
#webBrowser,#dataBrowser,#fileManager,#queryForm,#sessionForm,#localBrowser,#settingsForm {
  display:none;
}
body.dataBrowser #dataBrowser { display:block !important; }
body.fileManager #fileManager { display:block !important; }
body.webBrowser #webBrowser { display:block !important; }
body.queryForm #queryForm { display:block !important; }
body.sessionForm #sessionForm { display:block !important; }
body.localBrowser #localBrowser { display:block !important; }
body.settingsForm #settingsForm { display:block !important; }

/* webId and Login Button (#kitchenLoginPanel)
 *
 *   - hide webId on webview pages & settings page
 *   - hide login button on webview pages and session form
*/
  #kitchenLoginPanel { display:block; }
  #kitchenLoginPanel button { display:inline-block; }
  body.webview #kitchenLoginPanel { display:none; }
  body.settingsForm #kitchenLoginPanel { display:none; }
  body.sessionForm #kitchenLoginPanel button { display:none; }

  #kitchenLoginPanel *,#kitchenLoginPanel button {
    font-size:small;
    color:#444;
  }
  #kitchenLoginPanel {
    position:absolute;
    top:0;
    right:0;
  }


#uriField {
  font-size:100%;
  min-width:30em; 
  padding:0.5em;
  width:95%;
}
#outline {
  min-height:200px;
}
#versionsFooter {
  display:none;
  font-size:0.8em;
  font-weight:italic;
  text-align:right;
  margin:2em;
}
body.dataBrowser #versionsFooter {
  display:block;
}

.kitchenForm {
  margin-left:1em;
  margin-right:1em;
}
.kitchenForm table {
  width:100%;
  margin-top:1em;
  margin-right:1em;
  padding:1em;
  padding-bottom:0;
}
.kitchenForm th {
  vertical-align:top;
  text-align:right;
  border-bottom:1em solid transparent;
  border-right:1em solid transparent;
}
.kitchenForm td {
  border-bottom:1em solid transparent;
}
.kitchenForm input[type=text] {
  width:100%;
  min-width: 25em;
  height:2.5em;
  font-size:1rem;
}
.kitchenForm .buttonContainer {
  margin-top:1em;
  width:100%;
  text-align:right;
}
body.webview {
  overflow:hidden;
}
webview {
    height:100vh !important;
}

#webBrowser,
#localBrowser
 {
  display:none;
  height:100vh;
  width:100vw;
  border:none;
  margin:0;
  padding:0;
}
body.webBrowser,
body.localBrowser
{
  overflow:hidden;
  margin:0;
}
#webBrowser,
#localBrowser
{
  overflow:hidden;
  margin-right:1em;
}
#localBrowser {
//  padding-right:2em;
//  padding-left:1em;
  // overflow:auto !important;
}
#localBrowser h1, #localBrowser h2,
.kitchenForm h1, .kitchenForm h2 
{
  font-weight:400 !important;
}
#localBrowser i {
  font-weight:300 !important;
}
#localBrowser ul {
  padding-left:1em;  
  margin-left:1em;
  line-height:1.75em;  
}

/* QUERY FORM
*/
.queryButton {
 width:100%;
 margin:0.5em;
 margin-left:1em;
 height:2em;
 text-align:center;
}
#queryAllButton {
  margin-top:-3em;
}
#queryForm.kitchenForm textarea {
  width:100%;
  min-width:66vw !important;
  height:5em;
}
#queryRadio {
  margin-left:2em;
}
#queryForm.kitchenForm #queryResults table {
  margin:0 !important;
  padding:0 !important;
  border:1px solid black;  
  border-collapse:collapse;
  width:100%;
}
#queryForm.kitchenForm #queryResults td {
  width:auto !imporant;
}
/* QUERY RESULTS
*/
#queryResults th,
#queryResults td
{
  border:1px solid black;  
  padding:0.25em;
}
#queryResults th {
  background-color:#c0c0c0;
  text-align:center;  
}
